.background 	{ background-image: url(http://orig14.deviantart.net/252c/f/2015/298/1/7/pompeiibackground_by_classicmistake92-d9edlez.jpg);
				  background-repeat: no-repeat;
				  background-attachment: fixed;
				  background-position: 10px 0px;
				  table-layout: fixed;
				  border-spacing: 0;	}

.background td { padding: 0;	}
.wall 		   { background: rgb(102, 102, 0);	}
.bush		   { background: rgb(51, 102, 0);	}
.hand		   {background: rgb(153, 153, 0);	}
.enemy		   {background: rgb(76, 0, 153);	}
.wisdom		   {background: rgb(255, 153,153);	}

.actor		   { position: absolute;	}
.bartifact	   { background: rgb(64, 64, 64);	}
.wartifact	   { background: rgb(224, 224, 224);	}
.player		   { background-image: url(http://img07.deviantart.net/ed6d/i/2015/298/1/1/dougspritesheet_by_classicmistake92-d9eds9i.png);
				 height: 70px;
				 width: 30px;}

.game {
	overflow: hidden;
	max-width: 600px;
	max-height: 450px;
	position: relative;
}

.lost .player {
	background: rgb(160, 64, 64);
}

.won .player {
	box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

